<div>
<h4>
    Mettre a jour un utilisateur
</h4>
<form [formGroup]="editForm" (ngSubmit)="updateUtilisateur()">
    <label>Nom</label>
    <input type="text" formControlName="nomUtilisateur"[(ngModel)]="user.nomUtilisateur">

    <label>Prenom</label>
    <input type="text" formControlName="prenomUtilisateur"[(ngModel)]="user.prenomUtilisateur">
    <button>Update</button>

    <label>Email</label>
    <input type="text" formControlName="emailUtilisateur"[(ngModel)]="user.emailUtilisateur">
    <button>Update</button>


</form>





</div>
